In [1]:
import pandas as pd

Read in Stats

In [19]:
stats = pd.read_csv('GameStats.csv')
stats.rename(columns={'G#': 'GameNumber',
                      'Unnamed: 4':'location',
                      'Unnamed: 6': 'Outcome'}, inplace=True)
stats.head()

,Rk,School,Date,GameNumber,location,Opponent,Outcome,PassCmp,PassAtt,PassPct,...,XPM,XPA,XPPercent,FGM,FGA,FGPercent,KickPts,Fum,Int,TotalTO
0,1601,Georgia State,9/4/2015,1,NaN,Charlotte,L,25,43,58.1,...,2,2,100.0,2,3,66.7,8,2,1,3
1,1602,Michigan State,9/4/2015,1,@,Western Michigan,W,15,31,48.4,...,4,4,100.0,1,1,100.0,7,1,0,1
2,1603,Oregon State,9/4/2015,1,NaN,Weber State,W,12,22,54.5,...,2,2,100.0,4,4,100.0,14,0,1,1
3,1604,SMU,9/4/2015,1,NaN,Baylor,L,16,24,66.7,...,3,3,100.0,0,0,NaN,3,0,2,2
4,1605,Syracuse,9/4/2015,1,NaN,Rhode Island,W,10,20,50.0,...,6,6,100.0,1,2,50.0,9,0,1,1

Read in Results

In [41]:
results = pd.read_csv('GameResults.csv')
results.nunique()

Date             315
Home Team        161
Visitor Team     243
Home Score        75
Visitor Score     71
Location           2
Season             5
Season Type        2
Spread           135
Total            116
Result             2
dtype: int64

Merge Datasets

In [32]:
merged_home = pd.merge(results, stats, left_on=['Home Team', 'Visitor Team', 'Date'], right_on=['School', 'Opponent', 'Date'], how='inner')

In [36]:
merged_away = pd.merge(results, stats, left_on=['Visitor Team', 'Home Team', 'Date'], right_on=['School', 'Opponent', 'Date'], how='inner')

In [35]:
merged_home[merged_home["Date"] == "9/3/2015"]

,Date,Home Team,Visitor Team,Home Score,Visitor Score,Location,Season,Season Type,Spread,Total,...,XPM,XPA,XPPercent,FGM,FGA,FGPercent,KickPts,Fum,Int,TotalTO
0,9/3/2015,North Carolina,South Carolina,13,17,Neutral,2015-16,Regular,-4,30,...,1,1,100.0,2,2,100.0,7,0,3,3
1,9/3/2015,North Carolina,South Carolina,13,17,Neutral,2015-16,Regular,-4,30,...,1,1,100.0,2,2,100.0,7,0,3,3
2,9/3/2015,Central Michigan,Oklahoma State,13,24,Visitor,2015-16,Regular,-11,37,...,1,1,100.0,2,2,100.0,7,0,1,1
3,9/3/2015,Utah,Michigan,24,17,Visitor,2015-16,Regular,7,41,...,3,3,100.0,1,3,33.3,6,0,1,1
4,9/3/2015,Hawaii,Colorado,28,20,Visitor,2015-16,Regular,8,48,...,2,2,100.0,2,2,100.0,8,0,2,2
5,9/3/2015,Vanderbilt,Western Kentucky,12,14,Visitor,2015-16,Regular,-2,26,...,0,0,NaN,2,3,66.7,6,1,2,3
6,9/3/2015,Wake Forest,Elon,41,3,Visitor,2015-16,Regular,38,44,...,5,5,100.0,2,3,66.7,11,0,0,0
7,9/3/2015,Georgia Tech,Alcorn State,69,6,Visitor,2015-16,Regular,63,75,...,9,9,100.0,0,0,NaN,9,1,0,1
8,9/3/2015,Connecticut,Villanova,20,15,Visitor,2015-16,Regular,5,35,...,2,3,66.7,0,0,NaN,2,0,1,1
9,9/3/2015,San Jose State,New Hampshire,43,13,Visitor,2015-16,Regular,30,56,...,4,6,66.7,1,2,50.0,7,0,0,0
10,9/3/2015,Fresno State,Abilene Christian,34,13,Visitor,2015-16,Regular,21,47,...,4,4,100.0,2,3,66.7,10,1,2,3
11,9/3/2015,Tulane,Duke,7,37,Visitor,2015-16,Regular,-30,44,...,1,1,100.0,0,0,NaN,1,0,1,1
12,9/3/2015,Utah State,Southern Utah,12,9,Visitor,2015-16,Regular,3,21,...,1,1,100.0,1,1,100.0,4,0,1,1
13,9/3/2015,Idaho,Ohio,28,45,Visitor,2015-16,Regular,-17,73,...,2,2,100.0,2,2,100.0,8,1,2,3

In [38]:
merged_away[merged_away["Date"] == "9/3/2015"]

,Date,Home Team,Visitor Team,Home Score,Visitor Score,Location,Season,Season Type,Spread,Total,...,XPM,XPA,XPPercent,FGM,FGA,FGPercent,KickPts,Fum,Int,TotalTO
0,9/3/2015,North Carolina,South Carolina,13,17,Neutral,2015-16,Regular,-4,30,...,2,2,100.0,1,2,50.0,5,0,0,0
1,9/3/2015,North Carolina,South Carolina,13,17,Neutral,2015-16,Regular,-4,30,...,2,2,100.0,1,2,50.0,5,0,0,0
2,9/3/2015,Central Michigan,Oklahoma State,13,24,Visitor,2015-16,Regular,-11,37,...,3,3,100.0,1,3,33.3,6,0,0,0
3,9/3/2015,Utah,Michigan,24,17,Visitor,2015-16,Regular,7,41,...,2,2,100.0,1,2,50.0,5,0,3,3
4,9/3/2015,Hawaii,Colorado,28,20,Visitor,2015-16,Regular,8,48,...,2,2,100.0,2,2,100.0,8,2,1,3
5,9/3/2015,Vanderbilt,Western Kentucky,12,14,Visitor,2015-16,Regular,-2,26,...,2,2,100.0,0,0,NaN,2,0,0,0
6,9/3/2015,Tulane,Duke,7,37,Visitor,2015-16,Regular,-30,44,...,4,4,100.0,3,3,100.0,13,2,0,2
7,9/3/2015,Idaho,Ohio,28,45,Visitor,2015-16,Regular,-17,73,...,6,6,100.0,1,2,50.0,9,1,0,1
8,9/3/2015,Arizona,UTSA,42,32,Visitor,2015-16,Regular,10,74,...,2,3,66.7,2,4,50.0,8,1,1,2

In [3]:
import os

os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'EDA.Rmd',
 'GameResults.csv',
 'GameStats.csv',
 'Predictions.csv',
 'Untitled.ipynb']